
:root{
  --pixel-size: 2;
}
body{
  overflow-x: hidden;
 
}

#viewport{



  width: 90vw;
  height: 90vh;

  max-width: 900px;
  max-height: 500px;
  
  border: solid red 3px;
  border-radius: 3px;

 
  margin: auto;
 
}

#viewport h1{
  
  z-index: 22;
}

#map {
  position: absolute;
  width: 2000px;
  height: 2000px;
  background-color: green;
  z-index: -1;
}


#axis-display{
  display: flex;
  flex-direction: row;
}

#left-axis{
  font-size: 22pt;
  border: solid 3px black;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  text-align: center;
  
}

#right-axis{
  font-size: 22pt;
  border: solid 3px black;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  text-align: center;
  
}